.fundo{ 
  background-image: linear-gradient(45deg,black,crimson); 
  height: 100vh; 
  color: white; 
  font-family: Arial, Helvetica, sans-serif; 
  text-align: center;
} 
.calculadora{ 
  position: absolute; 
  background-color: rgba(0, 0, 0, 0.9); 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%,-50%);
 border-radius:15px; 
 padding: 15px;  
 font-size: 20px; 
 }  

.head{ 
  padding: 0px; 
  margin: 0px;
} 
.botao{ 
 width: 50px; 
 height: 50px; 
 font-size: 25px; 
 cursor: pointer; 
background-color:rgb(31,31,31);  
margin: 3px;
border: none; 
color: white; 
} 
.botao:hover{ 
  background-color: black;
} 
.botao1{ 
  height:106px ; 
  width: 50px; 
   cursor: pointer; 
background-color:rgb(31,31,31); 
border: none; 
color: white; 
font-size: 25px; 
margin: 3px; 
} 
.botao2{ 
  width: 110px; 
  height: 50px; 
   cursor: pointer; 
background-color:rgb(31,31,31); 
border: none; 
color: white;  
font-size: 25px; 
margin: 3px;
} 
.botao1:hover{ 
  background-color: black;
} 
.botao2:hover{ 
  background-color: black;
} 
#resultado{ 
  width: 240px; 
background-color:white;  
height: 60px; 
font-size: 30px; 
color: black; 
text-align: right; 
} 
